<%- include('partials/header.ejs') %>
<body>
        <h1><%=locals.name%></h1>
     


    <form method="GET">
        <button type="submit" formaction="/band">Generate</button>
    </form>
<%- include('partials/footer.ejs') %>
</body>